@import '../index.scss';
.search {
    position: relative;

    &__icon{
        position: absolute;
        font-size: 1.6rem;
        color: $grey-dark;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
    }
    &__input{
        width: 100%;
        padding: 4px;
        border-radius: 5px;
        padding-left: 30px;
        border: 1px solid $grey-light;
        font-size: 1.6rem;
        outline: none;
    }
}
